/* Card */
.card-wrapper {
  background-color: rgb(110, 33, 33);
  text-align: center;
  padding-top: 20px;
}

.card-row {
  background-color: #ffffff;
  display: flex;
  gap: 35px;
  margin-bottom: 35px;
}

.card {
  padding: 50px;
  background-color: rgb(205, 226, 21);
  text-align: center;
  flex: auto;
}
