@font-face {
  font-family: 'Roboto';
  src: url('../../assets/fonts/Roboto-BlackItalic.ttf') format('truetype');
}

.header {
  background-color: #3498db;
  padding: 20px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

/* Image in the header */
.header__image {
  width: 700px;
  height: 500px;
  display: block;
  margin-bottom: 20px;
  border-radius: 10px; /* Optional styling */
}


.header__title {
  font-size: 2rem;
}

.header__nav-list {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__nav-link {
  color: #2d427c;
  margin: 0 15px;
}
