<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="style-layout.css">

</head>

<body class="fluid-container">
  <header class="header">
    <div class="container header-content">
      <img src="Skool logo.svg" alt="Example Image" class="control-image">
      <button>LOG IN</button>
    </div>
  </header>

  <main class="container">
    <div class="banner">
      Discover Communities
    </div>
    <div class="search-bar">
      <input placeholder="Search for anything" type="search">
    </div>
    <div class="controls">
      <div class="controls__buttons">
        <button>control 1</button>
        <button>control 2</button>
        <button>control 3</button>
        <button>control 4</button>
      </div>
      <div class="controls__settings">
        <button>control settings</button>
      </div>
    </div>
    <div class="card-wrapper">
      <div class="card-row">
        <div class="card">Card #1</div>
        <div class="card">Card #1</div>
        <div class="card">Card #1</div>
      </div>
      <div class="card-row">
        <div class="card">Card #2</div>
        <div class="card">Card #2</div>
        <div class="card">Card #2</div>
      </div>
      <div class="card-row">
        <div class="card">Card #3</div>
        <div class="card">Card #3</div>
        <div class="card">Card #3</div>
      </div>
    </div>
    <footer class="footer">
      <div class="footer-links">
        <div class="footer-links__item">Community</div>
        <div class="footer-links__item">Affiliates</div>
        <div class="footer-links__item">Support</div>
        <div class="footer-links__item">Careers</div>
        <div class="footer-links__item">...</div>
      </div>
    </footer>
  </main>

</body>

</html>
